*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.footer{
    position:absolute; 
    bottom:0px; 
    height:70px; 
    left:0px; 
    right:0px; 
    overflow:hidden;
}
.header{
    position:absolute; 
    top:0px; 
    left:0px; 
    height:100px; 
    right:0px;
    overflow:hidden;
}
.content{
    
    position:absolute; 
    top:90px; 
    bottom:60px; 
    left:0px; 
    right:0px; 
    overflow:auto;
    padding:20px;
}
.content .form-control{
    width: 200px;
}